  <div class="container-fluid">

    <div class="row">
<div ng-include='"templates/sidemenu.html"'></div>
      <div class="col-sm-10">
        <div class="row">
          <div class="col-sm-12">
            <div class="chart-wrapper">
              <div class="chart-title">
                Household Dietary Diversity Score (BRiCS Baseline)
              </div>
              <div class="chart-stage">
                <iframe width='100%' height='520' frameborder='0' src='http://ona.cartodb.com/viz/3353d00c-a01b-11e4-9d6c-0e4fddd5de28/embed_map' allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>

              </div>
              <div class="chart-notes">
                <b>Household Dietary Diversity Score</b> (HDDS): Sum of 12 consumption groups consumed in the last 24 hours.
              </div>
            </div>
          </div>
        </div>

    </div>
  </div>