      <div class="col-sm-2">
        <div class="chart-wrapper">
          <div class="chart-title">
            <b>BRiCS</b>
          </div>
          <div class="chart-stage">
          <ul>
            <li><a href="#partners">Partners</a></li>
            <li><a href="#hdds">HDDS</a></li>
            <li><a href="#csireduced">CSI Reduced</a></li>
            <li><a href="#fcs">FCS</a></li>
            <li><a href="#binaryassets">Binary Assets</a></li>

          </ul>
          </div>

        </div>
      </div>